<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h3 th:text="${person.getName()}"/>
        <hr>
    </div>
    <div class="row">
        <p th:text="${'Name: ' + person.getName()}"/>
        <p th:text="${'Birth date: ' + person.getDateInFormat()}"/>
        <p th:text="${'Phone number: +7' + person.getPhoneNumber()}"/>
        <p th:text="${'Email: ' + person.getEmail()}"/>
        <hr>
    </div>

    <div class="row" th:if="${books.isEmpty()}">
        <p>This person has not books</p>
        <hr>
    </div>

    <div class="row" th:if="${!books.isEmpty()}">
        <p>Assigned books:</p>
        <div th:each="book : ${books}">
            <a th:text="${book.getTitle() + ', ' + book.getAuthor()+ ', ' + book.getYear()}" th:href="@{/books/{id}(id=${book.getId()})}"/>
            <a th:text=" ' (assigned at ' + ${book.getAssignedAtInFormat()} + ')'" th:styleappend="${book.isExpired() ? 'color:darkred' : ''}"/>
        </div>

        <br>
        <br>
        <hr>
    </div>
    <div class="row">
        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <a class="btn btn-dark" th:href="@{/people/{id}/edit (id=${person.getId()})}">Edit</a>
            <a class="btn btn-secondary" th:href="@{/books}">To book catalog</a>
            <a class="btn btn-secondary" th:href="@{/people}">To person catalog</a>
            <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>