<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h3 th:text="${book.getTitle()}"/>
        <hr>
    </div>

    <div class="row">
        <p th:text="${'Titile: ' + book.getTitle()}"/>
        <p th:text="${'Author: ' + book.getAuthor()}"/>
        <p th:text="${'Year: ' + book.getYear()}"/>
    </div>

    <div th:if="${people}" class="row">
        <div class="col-5">
            <p>This book is free now, you can assign it to someone:</p>
            <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}" th:object="${person}">
                <div class="input-group">
                    <label for="person" class="input-group-text">Select a person:</label>
                    <select class="form-select" th:field="*{id}" id="person">
                        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </div>
            </form>
        </div>
    </div>

    <div th:if="${owner}" class="row">
        <form th:if="${owner}" th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            Book is owned by
            <a th:href="@{/people/{id}(id=${owner.getId()})}" th:text="${owner.getName()}"/>
            <input class="btn btn-primary" type="submit" value="Release"/>
        </form>
    </div>
    <hr>
    <div class="row">
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
            <a class="btn btn-dark" th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
            <a class="btn btn-secondary" th:href="@{/books}">To book catalog</a>
            <a class="btn btn-secondary" th:href="@{/people}">To people catalog</a>
            <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>
    </div>
</div>


</body>
</html>